@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #002f34;
    --color-secondary: #f2f4f5;
    --color-muted: #406367;
    --color-dark-secondary: #396d72;
  }
}

@layer components {
  .btn {
    @apply cursor-pointer whitespace-nowrap rounded-sm bg-white px-3 py-2 text-xs font-medium text-primary hover:bg-gray-100 active:bg-gray-200 md:px-4 md:py-3 md:text-sm;
  }
  .link {
    @apply w-fit font-semibold text-primary hover:bg-primary hover:text-white;
  }
  .underline__link {
    @apply border-b-2 border-primary text-sm font-medium
  }
  .nav__link {
    @apply hidden whitespace-nowrap font-semibold text-white group-hover:text-gray-500 md:block md:text-lg;
  }
  .nav__lang {
    @apply px-2 text-xs hover:underline md:px-3 md:text-sm cursor-pointer text-secondary;
  }
  .nav__dropdown__li {
    @apply px-5 py-2 text-sm font-medium text-primary hover:bg-primary hover:text-white;
  }
  input::placeholder {
    @apply text-gray-500;
  }
  textarea::placeholder {
    @apply text-gray-500;
  }
  .heading {
    @apply text-center text-xl font-semibold text-primary md:text-3xl;
  }
  .login__signup_text {
    @apply w-1/2 cursor-pointer border-b-2 p-4 text-center text-sm font-medium;
  }
  .prices {
    @apply mr-4 h-6 w-6 items-center justify-center rounded-full flex;
  }
  .price_payment_img {
    @apply w-28 md:w-48 lg:w-64 hover:border-blue-500 border-2 border-transparent rounded-md object-contain cursor-pointer
  }
  .btn__trans {
    @apply p-1 px-4 md:px-10 rounded-md transition duration-200 border-4 font-normal md:font-semibold
  }
}
